# tested with wheel 0.43.0, 0.44.0
wheel==0.44.0
# tested with torch 2.3.1, 2.4.0
torch==2.4.0
# tested with transformers 4.28.1, 4.42.4, 4.44.2
transformers==4.44.2
# tested with ml-collections 0.1.1
ml_collections==0.1.1
# tested with fschat 0.2.20, 0.2.36, installing from source is highly recommended, however
fschat==0.2.36
# tested with psutil 6.0.0
psutil==6.0.0
# tested with pandas 2.2.2
pandas==2.2.2
# tested with accelerate 0.32.1, 0.33.0
accelerate==0.33.0
# tested with flash_attn 2.6.3
# probably need to comment this out for Mac OS
# Note: you will likely need to comment out the next line the first time you install Broken Hill in a virtual environment. After installing, uncomment the line and rerun.
flash_attn==2.6.3
# tested with sentencepiece 0.2.0
sentencepiece==0.2.0
# tested with causal-conv1d 1.4.0
# Note: you will likely need to comment out the next line the first time you install Broken Hill in a virtual environment. After installing, uncomment the line and rerun.
causal-conv1d==1.4.0
# mamba-ssm is recommended by the state-spaces for the Mamba LLM family, but doesn't install correctly on my system.
#mamba-ssm
# needed for Tiny-Llama
# tested with protobuf 5.28.0
protobuf==5.28.0
# needed for Guanaco and other adapter-based models
# tested with peft 0.12.0
peft==0.12.0
# Needed for newer releases of Qwen
# tested with transformers_stream_generator 0.0.5
transformers_stream_generator==0.0.5
# Needed for some versions of Phi-3
# tested with pytest 8.3.3
pytest==8.3.3